
    body {
      font-family: "Karla", sans-serif;
      margin: 0;
      padding: 0;
      background: #fffce9;
      color: #333;
    }

    nav{
      position: fixed; 
      top: 0; 
      width: 100%; 
      background-color: #325105; 
      z-index: 1000;
    }

    h2 {
      text-align: center;
      background-color:#325105;
      color: #fff;
      padding: 1rem;
      margin: 0;
      font-weight: bold;
    }

    h3{
      text-align: center;
      padding: 1rem;
      
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }

    textarea{
      height: 150px;
      width: 1200px;
      padding: 10px;
      font-size: 16px;
      border-radius: 20px;
      border: none;
      background: transparent;
      outline: none;
    }

    /* Estilos de id */

    #footer a {
      cursor: pointer;
      font-size: 14px;
      padding-left: 30px;
      text-decoration: none;
      color: #c1d005;
    }


    #footer a:hover{
      text-decoration: underline;
      color: #325105;
   }

   #footer{
     display: flex;
     align-items:last center;
     justify-content: center;
     height: 100px;
     width: 100%;
   }  


   /* Estilos de clases */

    .banner {
      background-image: url(./imag/banner.jpg);
      height: 850px;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .links a{
      color: #fffce9;
      text-decoration: none;
      font-size: 1.3rem;
      line-height: 1.4;
     }
      

    .links a:hover {
      text-decoration: underline;
    }

    .logo {
      color: #fffce9;
      text-decoration: none;
      font-size: 1.2rem;
      line-height: 1.4;
     }


    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem;
      gap: 1rem;
    }

    .card {
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 300px;
      padding: 1rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.2s;
    }

    .card:hover {
      transform: scale(1.03);
    }

    .card h4 {
      margin-top: 0;
      font-size: 1.2rem;
      color:#c1d005;
      
    }

    .card p, .card a {
      font-size: 0.95rem;
      line-height: 1.4;
      
    }

    .card a {
      color: #325105;
      text-decoration: none;
    }

    .card a:hover {
      text-decoration: underline;
    }

    .card img {
      width: 275px;       
      height: 400px;      
      object-fit: cover;  
    }


    .form-contac {

      background: #fff;
      border-radius: 20px;
      box-shadow: 0 8px 8px rgba(0,0,0,0.1);
      display: flex;
      
    }
/* 
    .form-contac:hover{ 
      box-shadow:#c1d005;
      transform: scale(1.03);

    } */

    .form-contac-imput{
      width: 1200px;
      border: none;
      outline: none;
      background: transparent;
      padding: 10px;
      font-size: 16px;
      
    }

   .form-term{
      background: #fffce9;
      display: flex;
      align-items: center;
      justify-content: center;
      
   }

   .form-contac-button {
    
      justify-content: center;
      height: 45px;
      width: 150px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: .3s ease all;
      margin: 0 auto;
  }


  .form-contac-button:hover {
    box-shadow: 3px 0px 30px #c1d005;
    background-color: #c1d005;}



    @media (max-width: 600px) {

      textarea{
        width: 90%;
      }

      footer{
        flex-direction: column;
      }
      .card {
        width: 90%;
      }

      .form-contac-imput{
        width: 90%;
      }

      
    }